<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="favicon.ico" type="image/png" />
    <link href="/style.css" rel="stylesheet">
    <meta name="description" content="The Home Page" />
    <title>Flamethrower</title>
    <script defer type="module" src="/loader.js"></script>
  </head>
  <body>
    <h1 id="heading">Home</h1>
    <a href="/">Home</a> | <a id="about" href="/about">About</a> | <a href="/posts?id=1">Post 1</a> | <a href="/posts?id=2">Post 2</a> | <a href="/posts?id=3">Flag</a>
      <article>
	<h1>Welcome to Firefly Flamethrowers</h2>
	<h3>Ignite Your Passion</h3>

	<p>At Firefly Flamethrowers, we bring you top-of-the-line flamethrowers, blending cutting-edge technology with ultimate safety. Perfect for professionals and enthusiasts, our products deliver thrilling and reliable performance.</p>

	<h3>Explore Our Products</h3>
	<ul>
	  <li><b>Firefly F-100</b>: Power and precision for professionals.</li>
	  <li><b>Firefly F-50</b>: Versatile and portable.</li>
  	  <li><b>Firefly F-Mini</b>: Compact and collectible.</li>

	<h3>Safety First</h3>
	<p>Engineered with advanced safety features and rigorously tested for your protection.</p>

	<h3>Join the Firefly Community</h3>
	<p>Become part of a passionate community. Share your adventures, get tips, and stay connected.</p>

	<h3>Why Choose Firefly?</h3>
	<ul>
	  <li>Top-Quality Engineering</li>
	  <li>Unmatched Performance</li>
	  <li>Dedicated Customer Support</li>
	</ul>
	
	<h3>Ready to Ignite?</h3>
	<p>Browse our products and set your world ablaze with Firefly Flamethrowers.</p>

	<h3><b>Firefly Flamethrowers</b> —where innovation sparks excitement.</h3>
	
	<hr>

	Ready to experience the thrill? [Shop Now] or [Learn More].
      </article> 
  </body>
</html>
