<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="favicon.ico" type="image/png" />
    <link href="/style.css" rel="stylesheet">
    <meta name="description" content="The Home Page" />
    <title>Flamethrower</title>
    <script defer type="module" src="/loader.js"></script>
  </head>
  <body>
    <h1 id="heading">Blog</h1>
    <a href="/">Home</a> | <a id="about" href="/about">About</a> | <a href="/posts?id=1">Post 1</a> | <a href="/posts?id=2">Post 2</a> | <a href="/posts?id=3">Flag</a>
    <div>
      <article>
        <p id="post-content">Content loading...</p>
      </article> 
    </div>
  </body>
  <footer>
    <script src="/posts.js"></script>
  </footer>
</html>
